SECRET_KEY=change-me-in-production
DEBUG=True

# Use sqlite for local development. Change to mysql when ready.
DB_ENGINE=sqlite
SQLITE_NAME=db.sqlite3
BANK_API_BASE_URL=
BANK_API_TIMEOUT_SECONDS=5

DB_NAME=payment_gateway
DB_USER=root
DB_PASSWORD=password
DB_HOST=127.0.0.1
DB_PORT=3306
